body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  height: 50px;
}

.title-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.separator {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: #333;
}

.selected-view {
  margin-left: auto;
  font-size: 16px;
  color: #666;
}

.button-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #ffffff;
  /* border-bottom: 1px solid #e0e0e0; */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button.active {
  background-color: #0056b3;
  opacity: 1;
}

button:not(.active) {
  opacity: 0.5;
}

iframe {
  flex-grow: 1;
  width: 100%;
  border: none;
}
